:root {
    --absolute-white: #FFFFFF;
    --lightest-gray: #EEEEEE;
    --text-dark: #3C3B3B;
    --text-light: #828282;
    --gray-lighter: #F4F4F4;
    --gray-neutral: #8E8E8E;
    --gray-shine: #E1E1E1;
    --gray-smoke: #808080;
    --gray-thin: #D5D5D5;
}
